/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1 &display=swap');

/*Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*General styles*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
    background-color:#ffedd4;
    font-family: 'Poppins', sans-serif;
    font-size: 16px; /* Base font size */
}

h1, h2, h3 {
    font-size: 1.5rem; /* 1.5 times larger than base font size */
    font-family: 'Poppins', sans-serif;
    text-transform: initial;
    letter-spacing: 1.5px;
    color: #c44739;
}


/*Header*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#79b198,#c1806a);
    padding: 1rem;
    z-index: 99;
    width: 100%;
    min-height: 50px;
    box-shadow: 0 3px 3px #79b198;    
    text-transform: initial;
    letter-spacing: 1.5px;
}

header h1 {
    font-size: 3rem;
    text-align: center;
    color: #fae1bf;
}

/*Main content*/

main {

    /* Enable flex properties for child elements */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}


/* --------- Game layout */
.container-game-area {
    display: flex;
    width: 80vw;
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Distribute space between children */
    margin: 30px 30px;
    padding: 30px;
    gap: 40px;
    border: solid 3px #c44739;
    border-radius: 50px;
    background-color: #fad7a7;
}

/*about the game*/
.about, .clue-text {
    display: flex;
    flex-direction: raw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
    padding: 5px;
    list-style-type: none;
    text-align: center;    
    font-size: 1rem; 
    flex-grow: 1; /* Grow elements to fill available space */
    flex-basis: 30%; /* Minimum width for each element */
}


/*clues*/
.clue-text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 10px;
    color: #79b198;
}

.chances-text b {
    color: #c44739;
}

/*The letters display*/

.letters-display {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 9px;
}

.letters-display .letters {
    width: 18px;
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #c44739;
    margin-bottom: 30px;
    color: #c44739;

}

.letters-display .letters.chosen {
    border-color: transparent;
    margin: -40px 0 20px;    
}

/*alphabet keybord*/
.alphabet {
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;    
    margin-top: 30px;
}

:where(.game-pop-up, .alphabet) button {
    color:#fae1bf;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 2px;
    background: #c44739;
    border-radius: 10px;
    text-transform: uppercase;
}

.alphabet button {
    padding: 1px;
    width: calc(100% / 12 - 20px);
    min-width: 25px;
}

.alphabet button[disabled] {
    /*mark the used letters*/
    pointer-events: none;
    opacity: 0.4;
}

:where(.game-pop-up, .alphabet) button:hover {
    background: #ff7464;
}

/*Pop up window when winning or failing*/

.game-pop-up {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(31, 31, 31, 0.6);
    transition: opacity 0.4s ease;
}

.game-pop-up.display {
    opacity: 1;
    pointer-events: auto;

}

.game-pop-up .content {
    background: white;
    max-width: 400px;
    width: 100%;
    text-align: center;
    padding: 20px;
}


.game-pop-up img {
    max-width: 300px;
    border: solid 3px #c44739;
    margin-bottom: 20px;
}

.game-pop-up h4 {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    text-transform: initial;
    letter-spacing: 1.5px;
    color: #c44739;
}

.game-pop-up p {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    text-transform: initial;
    letter-spacing: 1.5px;
    margin: 15px;
    font-weight: 500;
}

.game-pop-up p b {
    color: #c44739;
    font-weight: 900;
}

.game-pop-up button {
    padding: 15px;
}


/* Buttons and chances-left text*/

.chances-text {
    display: flex;
    flex-direction: raw;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.buttons {
    display: flex;
    flex-direction: raw;
    justify-content: center;
    align-items: center;
    align-content: center;
}

button {
    border: solid 1px #4c4852;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    width: fit-content;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-family: 'Poppins', sans-serif;
}

.buttons button:active {
    transform: scale(0.85);
}

.buttons #update {    
    min-width: 40px;  
    min-height: 40px;  
    background: #fae1bf;
    text-transform: lowercase;
}

.buttons #update:hover {
    background: #79b198;
}

/*Footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#79b198,#c1806a);
    padding: 1rem;
    width: 100%;
    min-height: 20px;
    text-transform: initial;      
}

.madeby h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3px 0;
    list-style-type: none;
    color: #fae1bf;
    font-weight: 100;
    letter-spacing: 1px;
}

/* --------- Media queries for various devices*/

/* Adjustments for smaller devices */
@media screen and(max-width: 768px) {
    .container-game-area {
        flex-direction: column;
        display: flex;
        flex-grow: 1;
        gap: 20px;
        width: 80%; 
        margin: 20px;
    }

    .about, .clue-text {
        font-size: 1rem;
        flex-shrink: 1;
        
    }

    .letters-display .letters {
        font-size: 1.5rem;
        flex-shrink: 1;
    }

    
    .alphabet {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap; /* Wrap the buttons onto multiple rows */
        justify-content: space-evenly;   
        align-content: center;            
    }

    
}

/* Adjustments for larger devices */
@media screen and (min-width: 768px) {
    .container-game-area {
        display: flex;
        grid-template-columns: repeat(2, 1fr); /* Two columns on larger screens */  
    }

}


/* Adjustments for devices larger than or equal to 1200px */
@media screen and (min-width: 1200px) {
    .container-game-area {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Two equally sized columns */
      grid-gap: 20px;
      width: 80%;
      margin: 50px auto; /* Center the container horizontally */
    }

    .about, .clue-text {
      font-size: 1.2rem;
    }

    .letters-display {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
        gap: 10px;        
    }
  
    .letters-display .letters {
      font-size: 2.5rem;
    }
  
    .alphabet button {
      font-size: 1.2rem;
    }
    
    .about, .clue-text, .letters-display, .alphabet, .chances-text, .buttons {
        grid-column: 1; /* Place all elements in the first column */
    }


  }

